html {
  font-size: 16px;
  font-family: "Work Sans";
  color: white;
}

.container {
  background-color: black;
}

#main-heading {
  display: flex;
  align-items: center;
  background-color: rgb(35, 2, 63);
}

#main-heading h1 {
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  font-family: "Righteous";
  margin-left: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-box {
  height: 3rem;
  width: 20rem;
  border-radius: 25px;
  background-color: rgb(191, 191, 191);
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-button {
  height: 3rem;
  width: 3.5rem;
  border-radius: 8px;
  background-color: rgb(255, 102, 204);
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#title-heading {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  background-color: rgb(104, 0, 255);
  border-bottom: 0.20rem solid rgb(204, 204, 204);
}

.track {
  display: flex;
  align-items: center;
  border-bottom: 0.20rem solid;
  border-color: rgb(204, 204, 204);
  color: rgb(74, 74, 74);
}

.title-heading {
  background-color: rgb(104, 0, 255);
}


.footer {
  margin-top: 10rem;
}

a.dynamic:hover {
  background-color: rgb(255, 0, 171);
}
